h1{

	color: 	990033;
    font-size: 200%;
	
  }

button{
	color:#cccccc;
	background-size:300px 20px;
	}


body {
    background-image: url('images/keep-calm-its-quiz-time-2.png');
    	background-size: 250px 460px;
    background-color: #cccccc;
} 
